@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>

    </dl>

    @using (Html.BeginForm(new { redirectString = ViewBag.RedirectString })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.RedirectString != "Empty")
            {
                @Html.ActionLink(" ", "", "", null, new { @class = "glyphicon glyphicon-arrow-left", href = ViewBag.RedirectString, style = "font-size:22px; margin-right:60px;", title = "Back" })
            }
            else
            {
                @Html.ActionLink(" ", "Details", "Modules", new { id = Model.ModuleId }, new { @class = "glyphicon glyphicon-arrow-left", style = "font-size:22px; margin-right:60px;", title = "Back to module " + Model.Module.ModuleName })
            }
            @*<text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>*@
            <button type="submit" value="Delete" class="btn btn-danger" title="Delete activity @Model.ActivityName"><span class="glyphicon glyphicon-trash" style="font-size:18px"></span></button>
        </div>
    }
</div>
