@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Details";

}

<h2>Details for activity: @Html.DisplayFor(model => model.ActivityName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Module @Html.DisplayNameFor(model => model.Module.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>




        

    </dl>
    <table class='List-item' style="text-align :left">
        <tr><th>Document Name </th><th>Open</th><th>Download</th></tr>
        @foreach (var item in Model.Documents)
        {
            <tr>
                <td>
                    @item.DocName
                </td>
                 <td style="text-align :center">
                     <a href="/Upload/@item.DocURL">
                         <span class="glyphicon glyphicon-eye-open" style = "font-size:22px" title = "Open"></span>
                     </a>
                </td>
                <td style="text-align :center">
                    @Html.ActionLink(" ", "DownloadDocument", new { docLink = "/Upload/" + @item.DocURL} , new { @class = "glyphicon glyphicon-download", style = "font-size:22px;", title = "Download" })
                </td>
            </tr>
        }
        </table>





    </div>

    <p>
        @ViewBag.Message
    </p>
    <p class="hidden-print">
        @if (User.IsInRole("Teacher"))
        {
            if (Model.ActivityEndDate > DateTime.Now)
            {
                @Html.ActionLink(" ", "Details", "Modules", new { id = Model.ModuleId }, new { @class = "glyphicon glyphicon-arrow-left", style = "font-size:22px", title = "Details about module " + Model.Module.ModuleName }) <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
                @Html.ActionLink(" ", "Edit", new { id = Model.ActivityId }, new { @class = "glyphicon glyphicon-edit", style = "font-size:22px", title = "Back to course list" }) <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }

            @*@Html.ActionLink(" ", "Details", new { id = item.CourseId }, new { @class = "glyphicon glyphicon-file", title = "Details about this course" }) &nbsp; &nbsp; &nbsp;*@
            @*@Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left", title = "Back to course list", style = "font-size:22px" })  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*@
            @*@Html.ActionLink(" ", "Edit", new { id = Model.CourseId }, new { @class = "glyphicon glyphicon-edit", title = "Edit this course", style = "font-size:22px" })  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*@

            @Html.ActionLink(" ", "uploadFile", "Activities", new { id = Model.ActivityId }, new { @class = "glyphicon glyphicon-upload", style = "font-size:22px; ", title = "Upload new file " })        <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            @Html.ActionLink(" ", "Delete", new { id = Model.ActivityId }, new { @class = "glyphicon glyphicon-trash", style = "font-size:22px; color:red;", title = "Delete " + Model.ActivityName })

        }
        @if (User.IsInRole("Student"))
        {
            if (Request.UrlReferrer != null)
            {
                @*<a href="@Request.UrlReferrer.ToString()">Back</a>*@
                @Html.ActionLink(" ", "", "", null, new { @class = "glyphicon glyphicon-arrow-left", href = @Request.UrlReferrer.ToString(), style = "font-size:22px", title = "Back" })
            }
            else
            {
                @Html.ActionLink(" ", "Details", "Modules", new { id = Model.ModuleId }, new { @class = "glyphicon glyphicon-arrow-left", style = "font-size:22px", title = "Back to module " + Model.Module.ModuleName })

            }
        }
    </p>
