@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details for activity: @Html.DisplayFor(model => model.ActivityName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Module @Html.DisplayNameFor(model => model.Module.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>

    </dl>
</div>
<p class="hidden-print">
    @if (User.IsInRole("Teacher"))
    {
        if (Model.ActivityEndDate > DateTime.Now)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityId }) <span> |</span>
            @Html.ActionLink("Delete", "Delete", new { id = Model.ActivityId })<span> |</span>
        }
        @Html.ActionLink("Back", "Details", "Modules", new { id = Model.ModuleId }, null) 
    }
    @if (User.IsInRole("Student"))
    {
        if (Request.UrlReferrer != null)
        {
            <a href="@Request.UrlReferrer.ToString()">Back</a>
        }
        else
        {
            @Html.ActionLink("Back", "Details", "Modules", new { id = Model.ModuleId }, null)
        }
    }
</p>
