@model IEnumerable<LexiconLMS.Models.Document>
@using Microsoft.AspNet.Identity

@if (Model.Any())
{
    string ontime = "";
    if (ViewBag.OnTime != null)
    {
        if (ViewBag.OnTime)
        {
            ontime = "success";
            <h4 class="text-center">@ViewBag.Role Documents - On time</h4>
        }
        else
        {
            ontime = "danger";
            <h4 class="text-center">@ViewBag.Role Documents - Past due</h4>
        }
    }
    else
    {
        <h4 class="text-center">@ViewBag.Role Documents</h4>
    }


    <table class='List-item table' style="text-align: left">
        <tr>
            @if (ViewBag.Role == "Student")
            {
                <th>Student Name</th>
            }
            <th>Name </th>
            <th>Description </th>
            @if (ViewBag.Role == "Student")
            {
                <th>Status</th>
            }
            <th>Open</th>
            <th>Download</th>
            @if (User.IsInRole("Teacher") || ViewBag.Role == "Student" && User.IsInRole("Student"))
            {
                <th>Delete</th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr class="@ontime">
                @if (ViewBag.Role == "Student")
                {
                    <td>@item.User.UserFullName</td>
                }
                <td>
                    @item.DocName
                </td>
                <td>
                    @item.DocDescription
                </td>
                @if (ViewBag.Role == "Student")
                {
                    <td>@item.Status</td>
                }
                <td style="text-align: center">
                    <a href="/Upload/@item.DocURL">
                        <span class="glyphicon glyphicon-eye-open" style="font-size:22px" title="Open"></span>
                    </a>
                </td>
                <td style="text-align: center">
                    @Html.ActionLink(" ", "DownloadDocument", "Activities", new { docLink = @item.DocURL }, new { @class = "glyphicon glyphicon-download", style = "font-size:22px;", title = "Download" })
                </td>
                @if (User.IsInRole("Teacher") || User.Identity.GetUserId() == item.UserId)
                {
                    <td style="text-align: center">
                        @Html.ActionLink(" ", "DeleteDocument", "Activities", new { docId = @item.DocId, docLink = @item.DocURL }, new { @class = "btn-danger glyphicon glyphicon-trash", style = "font-size:20px; height:25px; background-color:white; color:red;", title = "Delete" })
                    </td>
                }

            </tr>
        }
    </table>
}
