<!DOCTYPE html>
<html lang="en-gb">
@using LexiconLMS.Utilities
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lexicon Learning Management System </title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').click(function () {
                $('.row-offcanvas').toggleClass('active')
            });
        });
    </script>
    @Styles.Render("~/Content/css")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding:0px;" href="http://www.lexicon.se" title="Lexicon.se">
                    @*@Url.Action("Index", "Home")*@
                    <img src="~/pics/logo-lexicon@2x.jpg" alt="Lexicon Home" class="img-responsive" style="margin-right:15px">
                </a>

                @*@Html.ActionLink("Lexicon", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

            </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li style="margin-left:10px; margin-top:4px;">@Html.ActionLink(" ", "Index", "Home", null, new { @class = "glyphicon glyphicon-home", style = "font-size:22px;", title = "Home page" })</li>
                            <li style="margin-left:10px; margin-top:4px;">@Html.ActionLink(" ", "About", "Home", null, new { @class = "glyphicon glyphicon-info-sign", style = "font-size:22px;", title = "About us" })</li>
                            <li title="Contact us" style="margin-left:10px; margin-right:20px; margin-top:4px;">@Html.ActionLink(" ", "Contact", "Home", null, new { @class = "glyphicon glyphicon-earphone", style = "font-size:22px;" })</li>
                            <li title="Print the page" style="margin-left:20px; margin-top:12px;">
                                <span id="print" class="glyphicon glyphicon-print" style="font-size:22px; color:white;"
                                      onmouseover="document.getElementById('print').style.color = 'lime'; document.getElementById('print').style.cursor = 'pointer';"
                                      onmouseout="document.getElementById('print').style.color = 'white'; document.getElementById('print').style.cursor = 'default';" onclick="print()"></span>
                            </li>
                        </ul>
                        @if (User.Identity.IsAuthenticated)// Since the user is automatically told to log in if they are logged out only logged in users need to see this.
                        {
                            @Html.Action("LoginPartial", "Account") 
                        }
                    </div>
            </div>
    </div>

    <div class="container" style="background-color:white; padding-bottom:0px; padding-left:0px;">
        @*<div class="container">*@
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-lg-9 col-xs-9 col-sm-9 col-sm-push-2">
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="pull-left visible-xs visible-sm">
                        <button type="button" class="btn btn-primary btn-xs hidden-print" data-toggle="offcanvas" title="Toggle sidebar" style="background-color:black; font-size:22px;"><i class="fa fa-chevron-left"></i></button>
                    </p>
                }
                <br>
                <div class="container-fluid" style="margin-left:10px">
                    @RenderBody()
                    <p />
                    <footer>
                        <p>&copy; @DateTime.Now - Lexicon Learning Management System</p>
                    </footer>
                </div>
            </div><!--/.col-xs-12.col-sm-9-->

            <div class="col-md-2 col-xs-3 col-sm-3 col-sm-pull-9 sidebar-offcanvas hidden-print" id="sidebar">
                <div class="list-group">

                    @if (User.IsInRole("Teacher"))
                    {
                        <a href="@Url.Action("Index", "Courses")" class="list-group-item @Html.IsActive("Courses", "Index")">Courses</a>
                    }
                    @if (User.IsInRole("Student"))
                    {
                        <a href="@Url.Action("MyCourse", "Courses")" class="list-group-item @Html.IsActive("Courses", "MyCourse")">My Course</a>
                            <a href="@Url.Action("Index", "Modules")" class="list-group-item @Html.IsActive("Modules", "Index")">Modules</a>
                            <a href="@Url.Action("Assignments", "Activities")" class="list-group-item @Html.IsActive("Activities", "Assignments")">Assignments</a>
                            <a href="@Url.Action("Participants", "Courses")" class="list-group-item @Html.IsActive("Courses", "Participants")">Course Participants</a>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("TeacherList", "Account")" class="list-group-item @Html.IsActive("Account", "TeacherList")">Teachers</a>
                    }
                </div>
            </div><!--/.sidebar-offcanvas-->
        </div><!--/row-->
        @*</div>*@<!--/container-fluid-->
    </div>

</body>
</html>