@model LexiconLMS.Models.DisplayUserViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to remove this?</h3>
<div>
    <h4>User Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLastName)
        </dd>

    </dl>

    @using (Html.BeginForm(new { redirectString = ViewBag.RedirectString })) // Send the redirect string back to controller.
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color hidden-print">
            @if (ViewBag.RedirectString != "Empty") // Check the value of the redirect string, if it is not set to "Empty" we can redirect back to a previous page.
            {
                <a href=@ViewBag.RedirectString class="glyphicon glyphicon-arrow-left hidden-print" style="font-size:22px; margin-right:60px;" title="Back"></a>

            }
            else // If redirect string is not defined we presume the user came from TeacherList view.
            {
                @Html.ActionLink(" ", "Teacherlisat", null, new { @class = "glyphicon glyphicon-arrow-left hidden-print", title = "Back to teacher list", style = "font-size:22px; margin-right:60px;" })
            }
            @{ string deleteAccount = "Delete account " +  Model.Email; }

            <button type="submit" class="btn btn-danger" title="@deleteAccount"><span class="glyphicon glyphicon-trash" style="font-size:18px"></span></button>
        </div>
    }
</div>
