@model LexiconLMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Register for " + @ViewBag.CourseName;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", new { Course = ViewBag.Course, Role = ViewBag.Role, redirectString = ViewBag.RedirectString }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>a new @ViewBag.Role Account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserFirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserFirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserLastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserLastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 hidden-print">
            @*(string.IsNullOrEmpty(ViewBag.Role) ? "" : " " + " ")*@
            @{ string registerNewAccount = "Register the new " + ViewBag.Role + " Account "; }
            <button type="submit" class="btn btn-primary" value="Register" title="@registerNewAccount"><span class="glyphicon glyphicon-save"></span></button>
            <br />&nbsp;<br />
            @if (ViewBag.Role == "Student")
            {
                @Html.ActionLink("Populate the Participant List from an uploaded file", "ParticipantList", "Account", new { courseId = ViewBag.Course }, new { style = "font-size:18px" })<br />
                @ViewBag.Message
            }
        </div>
    </div>


                }
<div class="hidden-print">
    @if (ViewBag.RedirectString != "Empty")
    {
        <a href=@ViewBag.RedirectString class="glyphicon glyphicon-arrow-left" title="Back to list" style="font-size:22px"></a>
    }
    else
    {
        @Html.ActionLink(" ", "Index", "Home", null, new { @class = "glyphicon glyphicon-arrow-left", title = "Back", style = "font-size:22px" })
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
