@model IEnumerable<LexiconLMS.Models.DisplayUserViewModel>
@{
    ViewBag.Title = "TeacherList";
}

<h2>TeacherList</h2>

<table class="table">
    <tr>
        <th>Teacher Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserFullName</td>
            <td>@item.Email</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })<span> |</span> 
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink("Create New Teacher", "Register", new { role = "Teacher"})
}
