@model IEnumerable<LexiconLMS.Models.DisplayUserViewModel>
@{
    ViewBag.Title = "Teacher List";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>Teacher Name</th>
        <th>Email</th>
        @if (User.IsInRole("Teacher"))
        {
            <th></th>
        }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserFullName</td>
            <td>@item.Email</td>
            @if (User.IsInRole("Teacher"))
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) <span> |</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>
@if (User.IsInRole("Teacher"))
{
    <button class="btn btn-default">@Html.ActionLink("Add a Teacher", "Register", new { role = "Teacher" })</button>
}
