@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <button onclick="Show('modules')">Modules</button>
    <button onclick="Show('participants')">Participants</button>
    <table class="table" id="modules">
        <tr>
            <th>Module Names</th>
        </tr>
        @foreach (var item in Model.Modules)
        {
            <tr>
                <td>@Html.ActionLink(item.ModuleName, "Details", "Modules", new { id = item.ModuleId }, null)</td>
            </tr>
        }
    </table>
    <table class="table" id="participants" style="display:None">
        <tr>
            <th>Course Participant</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>@item.UserFullName</td>
                <td>@item.Email</td>
                <td></td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    Show = function (element)
    {
        document.getElementById(element).setAttribute('style', 'display:table');
        if (element == "participants")
        {
            document.getElementById('modules').setAttribute('style', 'display:none;')
        }
        else
        {
            document.getElementById('participants').setAttribute('style', 'display:none;')
        }
    }
</script>