@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Course Name: @Model.CourseName</h2>


<div>
    @*<hr />*@
    <table class="table" id="modules">
        <tr>
            <th>
                Module Names&nbsp;&nbsp;&nbsp;
                <button id="showParticipants" onclick="Show('participants')" class="btn btn-default hidden-print" style="font-weight:bold">Participants</button>
            </th>
            <th>@Html.DisplayNameFor(m => m.Modules.FirstOrDefault().ModuleStartDate)</th>
            <th>@Html.DisplayNameFor(m => m.Modules.FirstOrDefault().ModuleEndDate)</th>
            @if (Model.CourseEndDate > DateTime.Now)
            {
                <th class="hidden-print">Actions</th>
            }
        </tr>
        @foreach (var item in Model.Modules)
        {
            <tr>
                <td>@Html.ActionLink(item.ModuleName, "Details", "Modules", new { id = item.ModuleId }, null)</td>
                <td>@item.ModuleStartDate</td>
                <td>@item.ModuleEndDate</td>
                @if (Model.CourseEndDate > DateTime.Now)
                {
                    <td class="hidden-print">
                        @Html.ActionLink(" ", "Edit", "Modules", new { id = item.ModuleId }, new { @class = "glyphicon glyphicon-edit", style="margin-right:20px", title = "Edit module " + item.ModuleName })
                        @Html.ActionLink(" ", "Delete", "Modules", new { id = item.ModuleId }, new { @class = "glyphicon glyphicon-trash", style = "color:red", title = "Delete module " + item.ModuleName })
                    </td>
                }
            </tr>
        }
    </table>
    <table class="table" id="participants" style="display:None">
        <tr>
            <th>
                Course Participants&nbsp;&nbsp;&nbsp;
                <button id="showModules" onclick="Show('modules')" class="btn btn-default hidden-print" style="font-weight:bold">Modules</button>
            </th>
            <th>Email</th>
            <th class="hidden-print">Actions</th>
        </tr>
        @{
            var students = Model.Students.OrderBy(u => u.UserFullName).ToList();
        }
        @foreach (var item in students)
        {
            <tr>
                <td>@item.UserFullName</td>
                <td>@item.Email</td>
                @if (Model.CourseEndDate > DateTime.Now)
                {
                    <td class="hidden-print">
                        @Html.ActionLink(" ", "Edit", "Account", new { id = item.Id, role = "Student" }, new { @class = "glyphicon glyphicon-edit", style="margin-right:20px;", title = "Edit student account " + item.Email })
                        @Html.ActionLink(" ", "Delete", "Account", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash", style = "color:red", title = "Remove student account " + item.Email })
                    </td>
                }
            </tr>
        }
    </table>
</div>
<p class="hidden-print">
    @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left", style = "font-size:22px; margin-right:30px", title = "Back to course list" }) 

    @if (Model.CourseEndDate > DateTime.Now)
    {
        @Html.ActionLink(" ", "Edit", new { id = Model.CourseId }, new { @class = "glyphicon glyphicon-edit", style = "font-size:22px; margin-right:35px;", title = "Edit this course" })
        @Html.ActionLink(" ", "uploadFile", "Activities", new { courseID = Model.CourseId }, new { @class = "glyphicon glyphicon-upload", style = "font-size:22px; margin-right:40px;", title = "Upload new activity file " })
        <span id="ModuleLink">
         @Html.ActionLink(" ", "Create", "Modules", new { Course = Model.CourseId }, new { @class = "glyphicon glyphicon-plus", style = "font-size:22px;", title = "Create new module" })
         @*@Html.ActionLink("New Module", "Create", "Modules", new { Course = Model.CourseId }, new { style = "font-size:20px;", title = "Create new module" })*@
        </span>    
        <span id="StudentLink" style="display:none;">
         @*@Html.ActionLink(" ", "Register", "Account", new { courseId = Model.CourseId, role = "Student" }, new { @class = "glyphicon glyphicon-plus", style = "font-size:14px;", title = "Add new student account" })*@
         @Html.ActionLink(" ", "Register", "Account", new { courseId = Model.CourseId, role = "Student" }, new { @class = "glyphicon glyphicon-user", style = "font-size:22px;", title = "Add new student account" })
        </span>
    }
</p>
<script>
    Show = function (element) {
        document.getElementById(element).setAttribute('style', 'display:table');
        if (element == "participants") {
            document.getElementById('modules').setAttribute('style', 'display:none;')
            document.getElementById('StudentLink').setAttribute('style', 'display: inline;')
            document.getElementById('ModuleLink').setAttribute('style', 'display: none;')
        }
        else {
            document.getElementById('participants').setAttribute('style', 'display:none;')
            document.getElementById('ModuleLink').setAttribute('style', 'display: inline;')
            document.getElementById('StudentLink').setAttribute('style', 'display: none;')
        }
    }
</script>



@*table for the Upload and downoad view*@
@Html.Action("DocumentList", "Activities", new { courseId = Model.CourseId })

@*@if (Model.Documents.Any())
{
        <table class='List-item table' style="text-align :left">

            <tr>
            <th>Document Name </th>
            <th>Document Description </th>
            <th>Open</th>
            <th>Download</th>
            </tr>
            @foreach (var item in Model.Documents)
            {
                <tr>
                    <td>
                        @item.DocName
                    </td>
                    <td>
                        @item.DocDescription
                    </td>
                    <td style="text-align :center">
                        <a href="/Upload/@item.DocURL">
                            <span class="glyphicon glyphicon-eye-open" style="font-size:22px" title="Open"></span>
                        </a>
                    </td>
                    <td style="text-align :center">
                        @Html.ActionLink(" ", "DownloadDocument", "Activities", new { docLink = @item.DocURL }, new { @class = "glyphicon glyphicon-download", style = "font-size:22px;", title = "Download" })
                    </td>
                </tr>
            }
        </table>
}*@






