@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>@Model.CourseName</h2>

<div>
    <hr />
    <button id="showModules" onclick="Show('modules')" class="btn btn-default" style="display:none">Modules</button>
    <button id="showParticipants" onclick="Show('participants')" class="btn btn-default">Participants</button>
    <table class="table" id="modules">
        <tr>
            <th>Module Names</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model.Modules)
        {
            <tr>
                <td>@Html.ActionLink(item.ModuleName, "Details", "Modules", new { id = item.ModuleId }, null)</td>
                <td>@Html.ActionLink("Delete", "Delete", "Modules", new { id = item.ModuleId }, null)</td>
            </tr>
        }
    </table>
    <table class="table" id="participants" style="display:None">
        <tr>
            <th>Course Participant</th>
            <th>Email</th>
        </tr>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>@item.UserFullName</td>
                <td>@item.Email</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Create New Module", "Create", "Modules", new { Course = Model.CourseId,  }, null)
</p>
<script>
    Show = function (element)
    {
        document.getElementById(element).setAttribute('style', 'display:table');
        if (element == "participants")
        {
            document.getElementById('modules').setAttribute('style', 'display:none;')
            document.getElementById('showModules').setAttribute('style', 'display:inline;')
            document.getElementById('showParticipants').setAttribute('style', 'display:none;')
        }
        else
        {
            document.getElementById('participants').setAttribute('style', 'display:none;')
            document.getElementById('showParticipants').setAttribute('style', 'display:inline;')
            document.getElementById('showModules').setAttribute('style', 'display:none;')
        }
    }
</script>