@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>@Model.CourseName</h2>


<div>
    @*<hr />*@
    <table class="table" id="modules">
        <tr>
            <th>
                Module Names&nbsp;&nbsp;&nbsp;
                <button id="showParticipants" onclick="Show('participants')" class="btn btn-default hidden-print" style="font-weight:bold">Participants</button>
            </th>
            <th>@Html.DisplayNameFor(m => m.Modules.FirstOrDefault().ModuleStartDate)</th>
            <th>@Html.DisplayNameFor(m => m.Modules.FirstOrDefault().ModuleEndDate)</th>
            @if (Model.CourseEndDate > DateTime.Now)
            {
                <th>Actions</th>
            }
        </tr>
        @foreach (var item in Model.Modules)
        {
            <tr>
                <td>@Html.ActionLink(item.ModuleName, "Details", "Modules", new { id = item.ModuleId }, null)</td>
                <td>@item.ModuleStartDate</td>
                <td>@item.ModuleEndDate</td>
                @if (Model.CourseEndDate > DateTime.Now)
                {
                    <td>
                        @Html.ActionLink(" ", "Edit", "Modules", new { id = item.ModuleId }, new { @class = "glyphicon glyphicon-edit", title = "Edit this module", style = "font-size:22px" }) 
                        @Html.ActionLink(" ", "Delete", "Modules", new { id = item.ModuleId }, new { @class = "glyphicon glyphicon-trash", title = "Remove this student", style = "font-size: 22px" })
                    </td>
                }
            </tr>
        }
    </table>
    <table class="table" id="participants" style="display:None">
        <tr>
            <th>
                Course Participants&nbsp;&nbsp;&nbsp;
                <button id="showModules" onclick="Show('modules')" class="btn btn-default hidden-print" style="font-weight:bold">Modules</button>
            </th>
            <th>Email</th>
            <th class="hidden-print"></th>
        </tr>
        @{
            var students = Model.Students.OrderBy(u => u.UserFullName).ToList();
        }
        @foreach (var item in students)
        {
            <tr>
                <td>@item.UserFullName</td>
                <td>@item.Email</td>
                @if (Model.CourseEndDate > DateTime.Now)
                {
                    <td class="hidden-print">
                        @Html.ActionLink(" ", "Edit", "Account", new { id = item.Id, role = "Student" }, new { @class = "glyphicon glyphicon-edit", title = "Edit this student" }) 
                        @Html.ActionLink(" ", "Delete", "Account", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash", title = "Remove this student", style= "color:red"})
                    </td>
                }
            </tr>
        }
    </table>
</div>
<p class="hidden-print">
    @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left", title = "Back to course list", style = "font-size:22px" })  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    @if (Model.CourseEndDate > DateTime.Now)
    {
        @Html.ActionLink(" ", "Edit", new { id = Model.CourseId }, new { @class = "glyphicon glyphicon-edit", title = "Edit this course", style = "font-size:22px" }) <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span id="ModuleLink"> @Html.ActionLink("Add New Module", "Create", "Modules", new { Course = Model.CourseId }, new { style = "font-size:16px" }) </span>
        <span id="StudentLink" style="display:none;">@Html.ActionLink("New Student Account", "Register", "Account", new { courseId = Model.CourseId, role = "Student" }, new { style = "font-size:16px" })</span>
    }
</p>
<script>
    Show = function (element) {
        document.getElementById(element).setAttribute('style', 'display:table');
        if (element == "participants") {
            document.getElementById('modules').setAttribute('style', 'display:none;')
            document.getElementById('StudentLink').setAttribute('style', 'display: inline;')
            document.getElementById('ModuleLink').setAttribute('style', 'display: none;')
        }
        else {
            document.getElementById('participants').setAttribute('style', 'display:none;')
            document.getElementById('ModuleLink').setAttribute('style', 'display: inline;')
            document.getElementById('StudentLink').setAttribute('style', 'display: none;')
        }
    }
</script>