@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>@Model.CourseName</h2>

<div>
    <hr />
    <table class="table" id="modules">
        <tr>
            <th>
                Module Names&nbsp;&nbsp;&nbsp;
                <button id="showParticipants" onclick="Show('participants')" class="btn btn-default" style="font-weight:bold">Participants</button>
            </th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model.Modules)
        {
            <tr>
                <td>@Html.ActionLink(item.ModuleName, "Details", "Modules", new { id = item.ModuleId }, null)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Modules", new { id = item.ModuleId }, null)
                    @Html.ActionLink("Delete", "Delete", "Modules", new { id = item.ModuleId }, null) |
                </td>
            </tr>
        }
    </table>
    <table class="table" id="participants" style="display:None">
        <tr>
            <th>
                Course Participants&nbsp;&nbsp;&nbsp;
                <button id="showModules" onclick="Show('modules')" class="btn btn-default" style="font-weight:bold">Modules</button>
            </th>
            <th>Email</th>
            <th></th>
        </tr>
        @{
            var students = Model.Students.OrderBy(u => u.UserFullName).ToList();
         }
        @foreach (var item in students)
        {
            <tr>
                <td>@item.UserFullName</td>
                <td>@item.Email</td>
                <td>@Html.ActionLink("Remove", "Delete", "Account", new { id = item.Id}, null)</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index") |
    <span id="ModuleLink"> @Html.ActionLink("Create New Module", "Create", "Modules", new { Course = Model.CourseId }, null) </span>
    <span id="StudentLink" style="display:none;">@Html.ActionLink("New Student", "Register", "Account", new { courseId = Model.CourseId, role = "Student" }, null)</span>

</p>
<script>
    Show = function (element)
    {
        document.getElementById(element).setAttribute('style', 'display:table');
        if (element == "participants")
        {
            document.getElementById('modules').setAttribute('style', 'display:none;')
            document.getElementById('StudentLink').setAttribute('style', 'display: inline;')
            document.getElementById('ModuleLink').setAttribute('style', 'display: none;')
        }
        else
        {
            document.getElementById('participants').setAttribute('style', 'display:none;')
            document.getElementById('ModuleLink').setAttribute('style', 'display: inline;')
            document.getElementById('StudentLink').setAttribute('style', 'display: none;')
        }
    }
</script>