@model IEnumerable<LexiconLMS.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @if(ViewBag.currentAction == "History")
    {
        @Html.ActionLink("Hide History", "Index", new { currentAction = "Index" })
    }
    else
    {
        @Html.ActionLink("Show History", "Index", new { currentAction = "History"})
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseId })
        </td>
    </tr>
}

</table>
