@model IEnumerable<LexiconLMS.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p class="hidden-print">
    @Html.ActionLink("Create New", "Create")
    @if(ViewBag.currentAction == "History")
    {
        @Html.ActionLink("Hide History", "Index", new { currentAction = "Index" })
    }
    else
    {
        @Html.ActionLink("Show History", "Index", new { currentAction = "History"})
    }
</p>
<form class="hidden-print">
    <input type="text" name="searchValue" />
    <input type="hidden" name="currentAction" value="@ViewBag.currentAction" />
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th class="hidden-print"></th>
    </tr>

@foreach (var item in Model) {
    string endedClass = "";
    if (item.CourseEndDate < DateTime.Now)
    {
        endedClass = "danger";
    }
    <tr class=@endedClass>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td class="hidden-print">

            @Html.ActionLink(" ", "Details", new { id=item.CourseId }, new { @class = "glyphicon glyphicon-file", title ="Details about this course"}) &nbsp;&nbsp;&nbsp;
            @if (item.CourseEndDate > DateTime.Now)
            {
                @Html.ActionLink(" ", "Edit", new { id = item.CourseId }, new { @class="glyphicon glyphicon-edit", title="Edit this course" }) <text>&nbsp;&nbsp;&nbsp;</text>
                @Html.ActionLink(" ", "Register", "Account", new { courseId = item.CourseId, role = "Student" }, new { @class = "glyphicon glyphicon-user", title = "Register new student to this course" }) <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
}
            @Html.ActionLink(" ", "Delete", new { id = item.CourseId }, new { @class = "glyphicon glyphicon-trash", title = "Delete this course", style = "color:red" })
        </td>
    </tr>
}

</table>
