@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Details";
}

<h2>Details for module: @Html.DisplayFor(model => model.ModuleName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Course @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleEndDate)
        </dd>
    </dl>








    <table class="table">
        <tr>
            <th>Activity Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            @if (User.IsInRole("Teacher"))
            {
                <th class="hidden-print"></th>
            }
        </tr>
        @foreach (var item in Model.Activities)
        {
            string endedClass = "";
            if (item.ActivityEndDate < DateTime.Now)
            {
                endedClass = "danger";
            }
            <tr class="@endedClass">
                <td>
                    @Html.ActionLink(item.ActivityName, "Details", "Activities", new { id = item.ActivityId }, null)
                </td>
                <td>
                    @item.ActivityStartDate
                </td>
                <td>
                    @item.ActivityEndDate
                </td>
                @if (User.IsInRole("Teacher") && Model.ModuleEndDate > DateTime.Now)
                {
                    <td class="hidden-print">
                        @Html.ActionLink(" ", "Edit", "Activities", new { id = item.ActivityId }, new { @class = "glyphicon glyphicon-edit", title = "Edit activity " + item.ActivityName }) <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        @Html.ActionLink(" ", "Delete", "Activities", new { id = item.ActivityId }, new { @class = "glyphicon glyphicon-trash", title = "Delete activity " + item.ActivityName, style = "color:red" })
                    </td>

                }
            </tr>
        }
    </table>

</div>
<p class="hidden-print">
    @if (User.IsInRole("Student"))
    {
        @Html.ActionLink(" ", "Index", "Modules", new { id = Model.CourseId }, new { @class = "glyphicon glyphicon-arrow-left", style = "font-size:22px", title = "Back to list" })
    }
    else
    {
        @Html.ActionLink(" ", "Details", "Courses", new { id = Model.CourseId }, new { @class = "glyphicon glyphicon-arrow-left", style = "font-size:22px", title = "Back to course details" }) <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
        if (Model.ModuleEndDate > DateTime.Now)
        {
            @Html.ActionLink(" ", "Edit", new { id = Model.ModuleId }, new { @class = "glyphicon glyphicon-edit", style = "font-size:22px", title = "Edit module details" }) <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            @Html.ActionLink("Add New Activity", "Create", "Activities", new { id = Model.ModuleId }, new { style = "font-size:18px", title = "for this module" })
        }

        @*@Html.ActionLink(" ", "Delete", "Account", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash", style = "color:red" })*@
    }

</p>
