@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleEndDate)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>Activity Name</th>
            @if (User.IsInRole("Teacher"))
            {
                <th></th>
            }
        </tr>
        @foreach (var item in Model.Activities)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.ActivityName, "Details", "Activities", new { id = item.ActivityId }, null)
                </td>
                @if (User.IsInRole("Teacher"))
                {
                    <td>@*@{ string activityName = item.ActivityName; }*@
                        @Html.ActionLink(" ", "Delete", "Activities", new { id = item.ActivityId }, new { @class = "glyphicon glyphicon-trash", title = "Delete activity " + item.ActivityName, style = "color:red" })
                        @*@Html.ActionLink(" ", "Delete", new { id = item.CourseId }, new { @class = "glyphicon glyphicon-trash", title = "Delete this course", style = "color:red" })*@
                    </td>
                }
            </tr>
        }
    </table>

</div>
<p class="hidden-print">
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink(" ", "Details", "Courses", new { id = Model.CourseId }, new { @class = "glyphicon glyphicon-arrow-left", style = "font-size:22px", title = "Back to course details" }) <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
        @Html.ActionLink(" ", "Edit", new { id = Model.ModuleId }, new { @class = "glyphicon glyphicon-edit", style = "font-size:22px", title = "Edit module details" }) <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
        @Html.ActionLink("Create New Activity", "Create", "Activities", new { id = Model.ModuleId }, new { style = "font-size:18px", title ="for this module" })

        @*@Html.ActionLink(" ", "Delete", "Account", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash", style = "color:red" })*@
    }
    else
    {
        @Html.ActionLink(" ", "Index", "Modules", new { id = Model.CourseId }, new { @class = "glyphicon glyphicon-arrow-left", style = "font-style:22px", title = "Back to list" })
    }

</p>
