@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Details";
}

<h2>Details for module: @Html.DisplayFor(model => model.ModuleName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Course @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleEndDate)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>Activity Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            @if (User.IsInRole("Teacher"))
            {
                <th></th>
            }
        </tr>
        @foreach (var item in Model.Activities)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.ActivityName, "Details", "Activities", new { id = item.ActivityId }, null)
                </td>
                <td>
                    @item.ActivityStartDate
                </td>
                <td>
                    @item.ActivityEndDate
                </td>
                @if (User.IsInRole("Teacher"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Activities", new { id = item.ActivityId }, null) <span> |</span>
                        @Html.ActionLink("Delete", "Delete", "Activities", new { id = item.ActivityId }, null)
                    </td>
                }
            </tr>
        }
    </table>

</div>
<p class="hidden-print">
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ModuleId }) <span> |</span>
        @Html.ActionLink("Back to list", "Details", "Courses", new { id = Model.CourseId }, null) <span> |</span>
        @Html.ActionLink("Create New Activity", "Create", "Activities", new { id = Model.ModuleId }, null)
    }
    else
    {
        @Html.ActionLink("Back to list", "Index", "Modules", new { id = Model.CourseId }, null)
    }

</p>
