@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Details";
}

<h2>Details for module: @Html.DisplayFor(model => model.ModuleName)</h2>

@*@if (Model.Documents.Any())
{
<table class='List-item' style="text-align :left">

    <tr><th>Document Name </th><th>Open</th><th>Download</th></tr>
    @foreach (var item in Model.Documents)
    {
        <tr>
            <td>
                @item.DocName
            </td>
            <td style="text-align:center">
                <a href="/Upload/@item.DocURL">
                    <span class="glyphicon glyphicon-eye-open" style="font-size:22px" title="Open"></span>
                </a>
            </td>
            <td style="text-align :center">
                @Html.ActionLink(" ", "DownloadDocument", "Activities", new { docLink = @item.DocURL }, new { @class = "glyphicon glyphicon-download", style = "font-size:22px;", title = "Download" })
            </td>
        </tr>
    }
</table>

}*@

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Course @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleEndDate)
        </dd>
    </dl>

    <table class="table">
        <tr>
            <th>Activity Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            @if (User.IsInRole("Teacher"))
            {
                <th class="hidden-print">Actions</th>
            }
        </tr>
        @foreach (var item in Model.Activities)
        {
            string endedClass = "";
            if (item.ActivityEndDate < DateTime.Now)
            {
                endedClass = "danger";
            }
            <tr class="@endedClass">
                <td>
                    @Html.ActionLink(item.ActivityName, "Details", "Activities", new { id = item.ActivityId }, null)
                </td>
                <td>
                    @item.ActivityStartDate
                </td>
                <td>
                    @item.ActivityEndDate
                </td>
                @if (User.IsInRole("Teacher") && Model.ModuleEndDate > DateTime.Now)
                {
                    <td class="hidden-print">
                        @Html.ActionLink(" ", "Edit", "Activities", new { id = item.ActivityId }, new { @class = "glyphicon glyphicon-edit", style = "margin-right:20px;", title = "Edit activity " + item.ActivityName })
                        @Html.ActionLink(" ", "Delete", "Activities", new { id = item.ActivityId }, new { @class = "glyphicon glyphicon-trash", style = "color:red", title = "Delete activity " + item.ActivityName })
                    </td>

                }
            </tr>
        }
    </table>

</div>
<p class="hidden-print">
    @if (User.IsInRole("Student"))
    {
        @Html.ActionLink(" ", "Index", "Modules", new { id = Model.CourseId }, new { @class = "glyphicon glyphicon-arrow-left", style = "font-size:22px", title = "Back to list" })
    }
    else
    {
        @Html.ActionLink(" ", "Details", "Courses", new { id = Model.CourseId }, new { @class = "glyphicon glyphicon-arrow-left", style = "font-size:22px; margin-right:35px;", title = "Back to course details" })
        if (Model.ModuleEndDate > DateTime.Now)
        {
            @Html.ActionLink(" ", "Edit", new { id = Model.ModuleId }, new { @class = "glyphicon glyphicon-edit", style = "font-size:22px; margin-right:35px;", title = "Edit module details" })
            @Html.ActionLink(" ", "uploadFile", "Activities", new { moduleId = Model.ModuleId }, new { @class = "glyphicon glyphicon-upload", style = "font-size:22px; margin-right:35px; ", title = "Upload new activity file " })
            @Html.ActionLink(" ", "Create", "Activities", new { id = Model.ModuleId }, new { @class = "glyphicon glyphicon-plus", style = "font-size:22px", title = "Create new activity for module " + Model.ModuleName })
        }

        @*@Html.ActionLink(" ", "Delete", "Account", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash", style = "color:red" })*@
    }

</p>

@Html.Action("DocumentList", "Activities", new { moduleId = Model.ModuleId })

@*@if (Model.Documents.Any())
{
    <table class='List-item table' style="text-align :left">

        <tr>
        <th>Document Name </th>
        <th>Open</th>
        <th>Download</th>
        </tr>
        @foreach (var item in Model.Documents)
        {
            <tr>
                <td>
                    @item.DocName
                </td>
                <td style="text-align :center">
                    <a href="/Upload/@item.DocURL">
                        <span class="glyphicon glyphicon-eye-open" style="font-size:22px" title="Open"></span>
                    </a>
                </td>
                <td style="text-align :center">
                    @Html.ActionLink(" ", "DownloadDocument", "Activities", new { docLink =  @item.DocURL }, new { @class = "glyphicon glyphicon-download", style = "font-size:22px;", title = "Download" })
                </td>
            </tr>
        }
    </table>

}*@
