@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleEndDate)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>Activity Name</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Activities)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.ActivityName, "Details", "Activities", new { id = item.ActivityId }, null)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Activities", new { id = item.ActivityId }, null)
                </td>
            </tr>
        }
    </table>

</div>
<p class="hidden-print">
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ModuleId }) <span> |</span>
        @Html.ActionLink("Back to list", "Details", "Courses", new { id = Model.CourseId }, null) <span> |</span>
        @Html.ActionLink("Create New Activity", "Create", "Activities", new { id = Model.ModuleId }, null)
    }
    else
    {
        @Html.ActionLink("Back to list", "Index", "Modules", new { id = Model.CourseId }, null)
    }

</p>
